@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

body {
  font-family: "Sora", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.resume:active svg path {
  stroke: black;
}

.menu-link {
  margin-right: 32px;
  font-weight: 600;
}

.menu-link:hover {
  color: #404040;
  text-decoration: underline 1px #404040;
}

.header-developer {
  font-family: sans-serif;
  letter-spacing: -5px;
  -webkit-text-stroke: 3px black;
}

.photo-wrapper {
  width: 45%; /* діаметр круга */
  height: auto;
  background-color: black; /* чорний фон */
  border-radius: 50%;
  display: flex;
  flex-direction: column; /* вертикальний напрямок */
  align-items: center; /* центрування по горизонталі */
  justify-content: flex-end;
  overflow: hidden;
}

.photo {
  width: 100%;
  border-radius: 80%;
  filter: drop-shadow(0 2px 4px rgba(255, 255, 255, 1));
}

.skill-item {
  width: calc((100% - 4 * 70px) / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  padding-bottom: 37px;
  padding-top: 37px;
}

.skill-item svg {
  width: 56px;
  height: 56px;
  margin-bottom: 32px;
}

.skill-item:hover {
  background-color: black;
  color: white;
}

.skill-item:hover .fill {
  fill: white;
}

.skill-item:hover .fill_black {
  fill: black;
}

.skill-item:hover .stroke {
  stroke: white;
}

.img-box {
  width: 100%;
  aspect-ratio: 16 / 9; /* або 4/3, або 1/1 */
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech {
  border: 1px solid white;
  padding: 4px;
  margin-right: 3px;
}

.education .line::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 1px; /* товщина лінії */
  height: calc(100% - 65px); /* висота лінії */
  background-color: white; /* колір лінії */
}

.education .line2::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 1px; /* товщина лінії */
  height: calc(65% - 65px); /* висота лінії */
  background-color: white; /* колір лінії */
}

.contacts__talk {
  font-family: sans-serif;
  letter-spacing: -3px;
  -webkit-text-stroke: 3px black;
}
