@import "tailwindcss";

body {
  font-family: "Sora", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.resume:active svg path {
  stroke: black;
}

.menu-link {
  font-weight: 600;
}

.menu-link:hover {
  color: #404040;
  text-decoration: underline 1px #404040;
}

.header-developer {
  font-family: "Bungee Outline", sans-serif;
}

.photo-wrapper {
  width: 45%;
  padding-top: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.photo {
  width: 100%;
  border-radius: 80%;
  filter: drop-shadow(0 2px 4px rgba(255, 255, 255, 1));
}
*/ .photo {
  width: 100%;
  border-radius: 80%;
  filter: drop-shadow(0 2px 4px rgba(255, 255, 255, 1));
}

.skill-item {
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  padding-bottom: 37px;
  padding-top: 37px;
}

.skill-item svg {
  width: 56px;
  height: 56px;
  margin-bottom: 32px;
}

.skill-item:hover {
  background-color: black;
  color: white;
}

.skill-item:hover .fill {
  fill: white;
}

.skill-item:hover .fill_black {
  fill: black;
}

.skill-item:hover .stroke {
  stroke: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.img-box {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech {
  border: 1px solid white;
  padding: 4px;
  margin-right: 3px;
}

.education .line::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 1px;
  height: calc(100% - 65px);
  background-color: white;
}

.education .line2::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 1px;
  height: calc(85% - 65px);
  background-color: white;
}

.contacts__talk {
  font-family: "Bungee Outline", sans-serif;
}

@media (min-width: 480px) {
  .skills-list {
    gap: 40px 20px;
  }
  .skill-item {
    width: calc((100% - 2 * 20px) / 3);
  }
}

@media (min-width: 48rem) {
  .menu-link {
    margin-right: 32px;
  }
  .header-developer {
    letter-spacing: -3px;
  }
  .skill-item {
    width: calc((100% - 3 * 40px) / 4);
  }

  .education .line2::before {
    height: calc(64% - 65px);
  }
}

@media (min-width: 64rem) {
  .header-developer {
    letter-spacing: -5px;
  }

  .photo-wrapper {
    width: 45%;
    aspect-ratio: 6 / 7;
  }
  .skill-item {
    width: calc((100% - 4 * 70px) / 5);
  }
}

@media (min-width: 80rem) {
  .photo-wrapper {
    height: auto;
  }
}
